@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MovieForm";
}

@if (Model.Id != 0)
{
    <h2>Edit Movie</h2>
}
else
{
    <h2>New Movie</h2>
}

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the appropriate errors:")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.IsSubscribedToNewsLetter)
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter, new { @class = "form-control" })
        </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Genres)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock)
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary btn-warning">Add Movie</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

